@page "/"

<PageTitle>Anna's App</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to the Anna's App.</p>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<a href="sentence">
    <img class="sentence-image" src="img/FunnyIcons/18.png" />
</a>